@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EuclidTriangle';
  src: url('/fonts/EuclidTriangle-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'EuclidTriangle';
  src: url('/fonts/EuclidTriangle-Medium.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'EuclidTriangle', sans-serif;
}

.grid::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

.grid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.grid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.grid::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}